*{
    margin: 0;
    padding: 0;
    white-space: nowrap;

}
.header {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0%, 100% {
        background-image: linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)),  url(images/home/ksea2022.jpeg);
    }
    10% {
        background-image:  linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)),url(images/home/ucdavis1.jpg);
    }

    20% {
        background-image:  linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)),url(images/home/ucdavis2.jpg);
    }
    30% {
        background-image:  linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)),url(images/home/ucdavis3.jpg);
    }
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;

}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    font-family: 'Inter', sans-serif;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    font-family: 'Inter', sans-serif;
    height: 2px;
    background: #FFDC34;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.subheader {
    height: 50vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)), url(images/home/ucdavis1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #FFDC34;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.492);
    
}

.subheader h1{
    margin-top: 100px;
}

/*-------------------------------DO NOT CHANGE-------------------------------------*/

/*-------page 1-------*/
.page_1 {
    position: relative;
    width: 90%;
    height: auto;
}
.we_help {
    position: absolute;
    top:30% !important;
    left:10%;
    width: auto;
    height: auto;
    font-weight: 584;
    font-family: 'Akshar',sans-serif;
    font-style: normal;
    font-size: 3.3vw;
    line-height: 1.1;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.KseaStandsFor {
    width: auto;
    height: auto;
    margin-top: 25%;
    margin-left: 10%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.3vw;
    line-height: 67px;
    color: #000000;
}

.ksea {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 6.67vw;
    line-height: 1.1;
    color: #2E3192;
}

.kseaiconwithwhite {
    position: absolute;
    top: calc(80vh); 
    left: 45.3%;
    width: 38.8%;
    height: auto;
    background: url('kseaicon.png') no-repeat center center;
    background-size: contain;
}

.kseaiconwithwhite img {
    width: 100%;
}

.an_academic {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 44px;
    margin-top: calc(5vh);
    margin-left: 13%;
    color: #000000;
    font-variation-settings: 'slnt' -10;
    margin-bottom: 10%;
}

/*-------page 2-------*/
.page_2 {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 40%;
    background: #3954A6;
    box-sizing: border-box;
    top: 100vh;
    z-index: -1;
}
.ucdavispng {
    position: absolute;
    width: 60.49%; /* 871px / 1440px * 100 */
    height: auto; /* 1025px / 1024px * 100 */
    z-index: -1;
}
.ucdavispng img{
    width: 100%; /* Make the image take up the full width of the container */
    height: auto;
}
.UCDAVISKSEA {
    font-family: 'Besley', serif;
    font-style: normal;
    font-weight: 600;
    width: 54.44%; /* 740px / 1440px * 100 */
    height: 15.82%; /* 133px / 1024px * 100 */
    margin-left: 44.44%; /* 608px / 1440px * 100 */
    margin-top: 7%;
    font-size: 4.2vw; 
    line-height: 8.13vw; 
    color: #FFDC34;
    text-shadow:
        0 0.28vw 0.28vw rgba(0, 0, 0, 0.25),
        0 0.28vw 0.28vw rgba(0, 0, 0, 0.25),
        0 0.28vw 0.28vw rgba(0, 0, 0, 0.25),
        0 0.28vw 0.28vw rgba(0, 0, 0, 0.25),
        0 0.28vw 0.28vw rgba(0, 0, 0, 0.25),
        0 0.28vw 0.28vw rgba(0, 0, 0, 0.25),
        0 0.28vw 0.28vw rgba(0, 0, 0, 0.25);
}

.WeareUCDavis {
    position: absolute;
    width: 51.39%; /* 740px / 1440px * 100 */
    height: 12.99%; /* 133px / 1024px * 100 */
    margin-left: 46.44%;
    margin-top: 7%;
    font-family: 'Timmana', sans-serif;
    font-style: normal;
    font-weight: 400;;
    font-size: 2.5vw;; /* 36px / 1440px * 100 */
    line-height: 4.1vw;; /* 59px / 1440px * 100 */
    color: #FFDC34;;
}

.Currently {
    margin-right: 6%;
    margin-top: 22%;
    font-family: 'Andada Pro', serif;;
    font-style: italic;;
    font-weight: 500;;
    font-size: 1.94vw;; /* 28px / 1440px * 100 */
    line-height: 2.29vw;; /* 33px / 1440px * 100 */
    text-align: right;
    color: #FFFFFF;;
}

.WeFoster {
    position: absolute;
    width: 48.33%; /* 696px / 1440px * 100 */
    height: 6.25%; /* 64px / 1024px * 100 */
    left: 43.40%; /* 625px / 1440px * 100 */
    margin-top: 10%; /* 821px / 1024px * 100 */
    font-family: 'Tauri', sans-serif;;
    font-style: normal;;
    font-weight: 400;;
    font-size: 1.94vw;; /* 28px / 1440px * 100 */
    line-height: 2.43vw;; /* 35px / 1440px * 100 */
    text-align: center;;
    color: #FFFFFF;;
    backdrop-filter: blur(2px); /* Note: backdrop-filter has minimal browser support */
}

.line-1 {
    position: absolute;
    margin-top: 0%;
    width: 13.61%; /* 196px / 1440px * 100 */
    height: 0;
    left: 60.49%; /* 871px / 1440px * 100 */
    top: 75.78%; /* 776px / 1024px * 100 */
    border: 1px solid #FFFFFF;
}

/*-------page 3-------*/
.page_3 {
    position: absolute;
    margin-top: 143%;
    width: 100%;
    background: #3954A6;
    padding: 2% 10%;
    box-sizing: border-box;
    z-index: -1;
}

.OurKseaOpportunities h1 {
    margin-top: 10%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 4.44vw; /* 64px / 1440px * 100 */
    line-height: 5.35vw; /* 77px / 1440px * 100 */
    text-align: left;
    color: #FFFFFF;
    text-shadow: 0px 0.28vw 0.28vw rgba(0, 0, 0, 0.25);
    margin-bottom: 2%;
}

/* UCD KSEA aim */
.UCDKSEAim p {
    margin-top: 10%;
    font-family: 'Andada Pro', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.67vw; /* 24px / 1440px * 100 */
    line-height: 1.94vw; /* 28px / 1440px * 100 */
    color: #FFFFFF;
    margin-bottom: 2%;
}
.Networking{
    margin-top: 10%;
}
.NationalMeetings{
    margin-top: 0%;
}
.WithMembers{
    margin-top: 3%;
}
.Networking img{
    position: absolute;
    margin-top: 3%;
    z-index: -1;
    width: 48.25vw; /* 378px / 1440px * 100 */
    height: auto; /* 289px / 1024px * 100 */
    top: 56.43vh; /* 629px / 1024px * 100 */
    filter: drop-shadow(0px 0.28vw 0.28vw rgba(0, 0, 0, 0.25)); /* 4px / 1440px * 100 */
}
.WeDo_1 {
    margin-top: 10%;
    margin-left: 50%;
}

.MentorMenteeNight {
    margin-top: 5%;
    margin-left: 55%;
}
.KseaAlumni{
    margin-top: 5%;
    margin-left: 65%;
}

.UCBKSEA{
    margin-top: 5%;
    margin-left: 65%;
}

.WeRecognize{
    text-align: right;
    margin-top: 0%;
}

.WeRecognize p,
.WeWork p,
.UndergraduateScholarship p,
.WeFosterInternational p,
.LeadershipOpportunities p,
.workshops p,
.ResumeWorkshop p,
.WeExcel p {
    font-family: 'Andada Pro', serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    text-shadow: 0px 0.28vw 0.28vw rgba(0, 0, 0, 0.25);
    margin-bottom: 2%;
}

.Networking h2,
.scholarships h2,
.ProfessionalDevelopment h2,
.Academic h2,
.Social h2 {
    font-family: 'Tauri', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.33vw; /* 48px / 1440px * 100 */
    line-height: 5.86vh; /* 60px / 1024px * 100 */
    color: #FFFFFF;}

.NationalMeetings p,
.WithMembers p {
    font-size: 1.63vw; /* 48px / 1440px * 100 */
    margin-left: 34%;
    color: #FFFFFF;
}
.WeDo_1 p,
.WEDo_2{
    font-family: 'Andada Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.22vw; /* 32px / 1440px * 100 */
    line-height: 3.71vh; /* 38px / 1024px * 100 */
    color: #FFFFFF;
}

.MentorMenteeNight p,
.KseaAlumni p,
.UCBKSEA p{
    font-family: 'Andada Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.67vw; /* 24px / 1440px * 100 */
    line-height: 2.73vh; /* 28px / 1024px * 100 */
    color: #FFFFFF;
}

.WeRecognize p,
.WeWork p,
.WeFosterInternational p,
.WeExcel p {
    font-family: 'Dynalight', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.67vw; /* 24px / 1440px * 100 */
    line-height: 2.83vw;
    color: #84A3FF;
}