*{
    margin: 0;
    padding: 0;
    white-space: nowrap;

}
.header {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0%, 100% {
        background-image: linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)),  url(images/home/ksea2022.jpeg);
    }
    10% {
        background-image:  linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)),url(images/home/ucdavis1.jpg);
    }

    20% {
        background-image:  linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)),url(images/home/ucdavis2.jpg);
    }
    30% {
        background-image:  linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)),url(images/home/ucdavis3.jpg);
    }
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;

}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    font-family: 'Inter', sans-serif;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    font-family: 'Inter', sans-serif;
    height: 2px;
    background: #FFDC34;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.subheader {
    height: 50vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)), url(images/home/ucdavis1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #FFDC34;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.492);
    
}

.subheader h1{
    margin-top: 100px;
}

/*-------------------------------DO NOT CHANGE-------------------------------------*/

/*-------page 1-------*/
.page_1 {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10% 0; 
}
.we_help {
    position: absolute;
    left:10%;
    width: auto;
    height: auto;
    font-weight: 584;
    font-family: 'Akshar',sans-serif;
    font-style: normal;
    font-size: 3.3vw;
    line-height: 1.1;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.KseaStandsFor {
    width: auto;
    height: auto;
    margin-left: 10%;
    margin-top: 15%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.3vw;
    line-height: 67px;
    color: #000000;
}

.ksea {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 6.67vw;
    line-height: 1.1;
    color: #2E3192;
}

.kseaiconwithwhite {
    position: absolute;
    top: calc(80vh); 
    left: 52%;
    top: 30%;
    width: 38.8%;
    height: auto;
    background: url('kseaicon.png') no-repeat center center;
    background-size: contain;
}

.kseaiconwithwhite img {
    width: 100%;
}

.an_academic {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 44px;
    margin-top: 10%;
    margin-left: 13%;
    color: #000000;
    font-variation-settings: 'slnt' -10;
}

/*-------page 2-------*/

.page_2 {
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: -1;
    width: 100%;
    background: #3954A6;
}

.ucdavispng {
    top: -10%;
    width: 60.49%;
    z-index: -1;
}

.ucdavispng img {
    width: 100%;
    height: auto;
}

.UCDAVISKSEA {
    position: absolute;
    width: 54.44%;
    top: 5%;
    left: 45%;
    font-family: 'Besley', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.4vw;
    line-height: 1.5;
    color: #FFDC34;
    text-shadow: 0 0.28vw 0.28vw rgba(0, 0, 0, 0.25),
                 0 0.28vw 0.28vw rgba(0, 0, 0, 0.25),
                 0 0.28vw 0.28vw rgba(0, 0, 0, 0.25),
                 0 0.28vw 0.28vw rgba(0, 0, 0, 0.25),
                 0 0.28vw 0.28vw rgba(0, 0, 0, 0.25),
                 0 0.28vw 0.28vw rgba(0, 0, 0, 0.25),
                 0 0.28vw 0.28vw rgba(0, 0, 0, 0.25);
    text-align: center;
}

.WeareUCDavis {
    position: absolute;
    top: 28%;
    left: 45%;
    width: 51.39%;
    height: auto;
    font-family: 'Timmana', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 4.1vw;
    color: #FFDC34;
    text-align: center;
}

.Currently {
    position: absolute;
    width: 51.39%;
    left: 45%;
    top: 48%;
    font-family: 'Andada Pro', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 1.94vw;
    line-height: 2.29vw;
    text-align: right;
    color: #FFFFFF;
}

.line-1 {
    position: absolute;
    margin-top: 0%;
    width: 13.61%; /* 196px / 1440px * 100 */
    height: 0;
    left: 65%; /* 871px / 1440px * 100 */
    top: 73%; /* 776px / 1024px * 100 */
    border: 1px solid #FFFFFF;
}

.WeFoster {
    position: absolute;
    left: 45%;
    top: 85%;
    width: 48.33%; /* 696px / 1440px * 100 */
    height: 6.25%; /* 64px / 1024px * 100 */
    font-family: 'Tauri', sans-serif;;
    font-style: normal;;
    font-weight: 400;;
    font-size: 1.94vw;; /* 28px / 1440px * 100 */
    line-height: 2.43vw;; /* 35px / 1440px * 100 */
    text-align: center;;
    color: #FFFFFF;;
    backdrop-filter: blur(2px); /* Note: backdrop-filter has minimal browser support */
}


/*-------page 3-------*/
.page_3 {
    position: relative;
    width: 100%;
    background: #3954A6;
    padding: 2% 10%;
    box-sizing: border-box;
    z-index: -1;
}

.OurKseaOpportunities h1 {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-top: 10%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 4.44vw; /* 64px / 1440px * 100 */
    line-height: 5.35vw; /* 77px / 1440px * 100 */
    text-align: left;
    color: #FFFFFF;
    text-shadow: 0px 0.28vw 0.28vw rgba(0, 0, 0, 0.25);
    margin-bottom: 2%;
}

/* UCD KSEA aim */
.UCDKSEAAim p {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-top: 10%;
    font-family: 'Andada Pro', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.67vw; /* 24px / 1440px * 100 */
    line-height: 1.94vw; /* 28px / 1440px * 100 */
    color: #FFFFFF;
    margin-bottom: 2%;
}
.Networking{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-top: 5%;
}
.NationalMeetings{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-top: -68%;
}
.WithMembers{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-top: 3%;
}

.Networking img {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-top: 10%;
    margin-left: -30%;
    z-index: -1;
    width: 48.25vw; /* 378px / 1440px * 100 */
    height: auto; /* 289px / 1024px * 100 */
    filter: drop-shadow(0px 0.28vw 0.28vw rgba(0, 0, 0, 0.25)); /* 4px / 1440px * 100 */
}

.WeRecognize{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-left: 60%;
    text-align: right;
    margin-top: -10%;
}

.WeDo_1 {
    display: flex;
    justify-content: flex-start;
    margin-top: 10%;
    margin-left: 50%;
}

.MentorMenteeNight {
    display: flex;
    justify-content: flex-start;
    margin-top: 7%;
    margin-left: 55%;
}
.KseaAlumni{
    display: flex;
    justify-content: flex-start;
    margin-top: 7%;
    margin-left: 65%;
}

.UCBKSEA{
    display: flex;
    justify-content: flex-start;
    margin-top: 7%;
    margin-left: 65%;
}

.Academic h2{
    display: flex;
    justify-content: flex-start;
    position:relative;
    margin-top: -18%;
    margin-left:6%;
}

.Social h2 {
    display: flex;
    justify-content: flex-start;
    position:relative;
    top: 15%;
    margin-left: 50%;
}

.WeWork{
    position: relative;
    text-align: right;
    margin-right: 88%;
    margin-top: -5%;
}

.scholarships{
    position: relative;
    margin-left: 70%;
    margin-top: 0%;
}

.UndergraduateScholarship{
    position: relative;
    margin-right: 8%;
    margin-top: 3%; 
}

.WeFosterInternational{
    text-align: right;
    margin-top: 4%; 
}

.gradmentormentee img{
    position: relative;
    margin-left: 25%;
    margin-top: 0%;
    z-index: -1;
    width: 58.25vw; /* 378px / 1440px * 100 */
    height: auto; /* 289px / 1024px * 100 */
}

.WeRecognize p,
.WeWork p,
.LeadershipOpportunities p,
.workshops p,
.ResumeWorkshop p,
.WeExcel p {
    position: relative;
    font-family: 'Andada Pro', serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    text-shadow: 0px 0.28vw 0.28vw rgba(0, 0, 0, 0.25);
    margin-bottom: 2%;
}

.Networking h2,
.scholarships h2,
.ProfessionalDevelopment h2,
.Academic h2,
.Social h2 {
    font-family: 'Tauri', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.33vw; /* 48px / 1440px * 100 */
    line-height: 3.86vh; /* 60px / 1024px * 100 */
    color: #FFFFFF;}

.NationalMeetings p,
.WithMembers p,
.UndergraduateScholarship p {
    font-size: 1.63vw !important; 
    margin-left: 34% !important;
    color: #FFFFFF !important;
}


.WeDo_1 p,
.WEDo_2{
    font-family: 'Andada Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.22vw; /* 32px / 1440px * 100 */
    line-height: 3.71vh; /* 38px / 1024px * 100 */
    color: #FFFFFF;
}

.MentorMenteeNight p,
.KseaAlumni p,
.UCBKSEA p{
    font-family: 'Andada Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.67vw; /* 24px / 1440px * 100 */
    line-height: 2.73vh; /* 28px / 1024px * 100 */
    color: #FFFFFF;
}

.WeRecognize p,
.WeWork p,
.WeFosterInternational p,
.WeExcel p {
    font-family: 'Dynalight', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.67vw; /* 24px / 1440px * 100 */
    line-height: 2.83vw;
    color: #84A3FF;
}

.Academic h2,
.Social h2{
    font-family: 'Dynalight';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 2.83vw;
    color: #84A3FF;
}