*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)), url(images/kseapic1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;

}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FFDC34;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.textbox {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.textbox h1 {
    font-size: 62px;
    color: #FFDC34;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.492);
}

.textbox h5 {
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.492);
}

.video {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.video h1 {
    color: #2E3192;
    margin-bottom: 30px;
}

.video img {
    width: 500px;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer p {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 30;
}

/* About KSEA Page */
.subheader {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)), url(images/kseapic2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #FFDC34;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.492);
    
}

.subheader h1{
    margin-top: 100px;
}

.aboutksea {
    width: 90%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.aboutksea h5 { /*What Is KSEA?*/
    font-size: 40px;
    font-weight : bold;
    color: #2E3192;
    transform: translate(0%, 300%);
}
.aboutksea h6 { /*What Is KSEA?*/
    font-size: 35px;
    font-weight : bold;
    color: #000000;
    
    margin:50px 25px;
}

/* Board Members Page */
.subheader2 {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)), url(images/kseapic3.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #FFDC34;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.492);
}

.subheader2 h1{
    margin-top: 100px;
}

.board {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.board h1 {
    margin-bottom: 90px;
    
        color: #2E3192;
    
}

.board-members {
    flex-basis: 31%; 
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
} 

.board-members img {
    width: 20%;
    border-radius: 10px;
}

/* Event Page */
.subheader3 {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)), url(images/kseapic4.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #FFDC34;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.492);
}

.subheader3 h1{
    margin-top: 100px;
}

.event {
    width: 90%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.event h2 {
    color: #2E3192;
}

/* FAQ Page */
.subheader4 {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)), url(images/kseapic1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #FFDC34;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.492);
}

.subheader4 h1{
    margin-top: 100px;
}

.faq {
    width: 90%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.faq h1 {
    color: #2E3192;
}